---
import ContentMain from "../components/ContentMain.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Bienvenido | helpmechanic.">
	<ContentMain />
	<div class="flex flex-wrap w-full">
		<Card title="Servicio" hrefLink="#" hrefImage=""="https://helpmechanic.onrender.com/service.jpg"/>
		<Card title="Funcionamiento" hrefLink="#"  hrefImage=""="https://helpmechanic.onrender.com/customerSupport.jpg"/>
		<Card title="Información" hrefLink="#" hrefImage=""="https://helpmechanic.onrender.com/information.jpg"/>
	</div>
</Layout>

