---
interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props;
---
<div class="mx-auto mb-6 max-w-full">
	<a class="cursor-pointer">
		<img 
		class="object-cover opacity-80 hover:border-2 border-sky-500" 
		src={href}
		alt="titulo"
		style="max-width: 500px;"/>
		<h2 class="mt-5 ml-4 mb-4">{title}</h2>
	</a>
</div>

<style>

</style>
