---
import Layout from "../layouts/Layout.astro";
---

<Layout title="content">
    <section class="container my-52 mx-14">
        <h1 class="text-6xl">¿Necesita ayuda?</h1>
        <p class="mt-5 text-lg">
            Del taller a tu ubicación: ¡Calidad en movimiento! Descubre la comodidad de recibir nuestros servicios donde estés.
        </p>
        <button 
        class="rounded-md bg-sky-800 p-2 px-10 mt-5 hover:bg-sky-700">
            Ver más
        </button>
    </section>
</Layout>

<style>
h1 {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

</style>
